{% load static %}
<nav>
    <div class="nav-wrapper">
      <a href="/" class="brand-logo">Googling Maniac</a>
      <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
      <ul class="right hide-on-med-and-down">
        {% if request.user.is_authenticated %}
          <li><a href="{% url 'questions' %}">Continue Playing</a></li>
        {% endif %}
        <li><a href="{%url 'leaderboard'%}">Leaderboard</a></li>
        <li><a href="{%url 'rules'%}">Rules</a></li>
        <li><a href="https://facebook.com/googlingmaniac" target="_blank">Forum</a></li>
        {% if request.user.is_authenticated %}
          <li><a href="{%url 'logout'%}">Logout</a></li>
        {% else %}
        <li><a href="{%url 'register'%}">Register</a></li>
        <li><a href="{% url 'login'%}">Login</a></li>
        {% endif %}
      </ul>
      <ul class="side-nav" id="mobile-demo">
        {% if request.user.is_authenticated %}
        <li><a href="{% url 'questions' %}">Continue Playing</a></li>
        {% endif %}
        <li><a href="{%url 'leaderboard'%}">Leader Board</a></li>
        <li><a href="{%url 'rules'%}">Rules</a></li>
        <li><a href="https://facebook.com/googlingmaniac" target="_blank">Forum</a></li>
        {% if request.user.is_authenticated %}
        <li><a href="{%url 'logout'%}">Logout</a></li>
        {% else %}
        <li><a href="{% url 'register'%}">Register</a></li>
        <li><a href="{% url 'login'%}">Login</a></li>
        {% endif %}
      </ul>
    </div>
</nav>