{% extends 'partials/base.html' %}
{% load static %}
{% block content %}
<div id="main_wrapper">
	<div class="container">
		<div class="detailed-text">
			<h4 style="color: white;">Do you really think that you can solve most of the daily life problems just by searching on Google?</h4>
			<p>Lets see how compatible you are with Google and how better you know him..</p>
		</div>
		<div class="row login-btns">
			{% if request.user.is_authenticated %}
			<div class="col l3 m4 s12 center-align">
				<a href="{%url 'questions'%}" class="waves-effect waves-light btn"><i class="material-icons right">play_circle_outline</i>Lets play the game</a>
			</div>
			{% else %}
			<div class="col l3 m4 s12 center-align">
				<a href="{%url 'login' %}" class="waves-effect waves-light btn"><i class="material-icons right">vpn_key</i>Login</a>
			</div>
			<div class="col l3 m4 s12 center-align">
				<a href="{%url 'register' %}" class="waves-effect waves-light btn"><i class="material-icons right">create</i>Register</a>
			</div>
			{% endif %}
		</div>
		<div class="clearfix"></div>
	</div>
</div>
{% endblock %}
