{% extends 'partials/base.html' %}
{% load static %}
{% block content %}
<div class="container">
	<h3 class="center-align">LEADERBOARD</h3>
	<ul class="collection">
		<!-- Header Part -->
		<li class="collection-item avatar" id="leaderboard-header">
	      	<div class="row">
		      	<div class="col s3">
		      		<p>S. No.</p>
		      	</div>
		      	<div class="col s3">
		      		<p>Name</p>
		      	</div>
		      	<div class="col s3">
		      		<p>Level</p>
		      	</div>
		      	<div class="col s3">
		      		<p>College</p>
		      	</div>
	      	</div>
	    </li>
	    <hr>

	    <!-- Do change from here -->
	    <li class="collection-item avatar">
	      	<div class="row">
		      	<div class="col s3">
		      		<p>1</p>
		      	</div>
		      	<div class="col s3">
		      		<p>John Doe</p>
		      	</div>
		      	<div class="col s3">
		      		<p>4</p>
		      	</div>
		      	<div class="col s3">
		      		<p>JSSATE, Noida</p>
		      	</div>
	      	</div>
	    </li>
	</ul>
</div>
{% endblock %}

