{% extends 'partials/base.html' %}
{% load static %}
{% block content %}
<div class="reg-wrapper">
	<img src="{% static 'images/google.jpg' %}">
		<div class="row reg-form">
			<form class="col s12">
		      	<div class="row">
			        <div class="input-field col s12">
			        	<i class="material-icons prefix">person_pin</i>
						<input id="username" type="text" name="username" class="validate">
			          	<label for="username">Username</label>
			        </div>
			    </div>
			    <div class="row">
			        <div class="input-field col s12">
			        	<i class="material-icons prefix">lock</i>
						<input id="password_1" type="password" name="password_1" class="validate">
			         	<label for="password_!">Password</label>
			        </div>
			    </div>
			    <div class="row">
			        <div class="input-field col s12">
						<input id="submit" type="submit">
			        </div>
			    </div>
		    </form>
		</div>
</div>
<div class="clearfix"></div>
{% endblock %}