{% extends 'partials/base.html' %}
{% load static %}
{% block content %}
<div id="question_wrapper">
	<div class="">
	{% if question %}
		<div class="question-text">
			<h5>Question:{{question.id}}</h5>
			<p>{{ question.description }}</p>
		</div>
		<div class="answer-panel">
			<h5>Your Answer</h5>
			<div class="row">
				<form action="" method="post">
				{% csrf_token %}
					<div class="col l4 m4 s12">
						<input type="text" required="" name="answer">
						<input type="hidden" name='question_id' value="{{ question.id }}">
					</div>
					<div class="col l4 m4 s12">
						<input id="ans-submit" type="submit">
					</div>
				</form>
			</div>
		</div>
		<div class="clearfix"></div>
	{% else %}
		{% if warning %}
			<div class="container center-align">
			<p id="q-complete-msg">{{ warning }}</p>
				<img src="{% static 'images/google-cartoon.png' %}">
			</div>
		{% endif %}
	{% endif %}
	</div>
</div>
{% endblock %}
