{% extends 'partials/base.html' %}
{% load static %}
{% block content %}
<div class="reg-wrapper">
		<div class="row reg-form">
				<h4 class="center-align">Register Here</h4>
				<p class="center-align">Already Register?? <a href="/login">Login</a></p>
			    <form id="registration-form">
			      <div class="row">
			        <div class="input-field col s12">
			        	<i class="material-icons prefix">person_pin</i>
						<input id="username" type="text" name="username" class="validate">
			          	<label for="username">Username</label>
			        </div>
			      </div>
			      <div class="row">
			      	<div class="input-field col s12">
			        	<i class="material-icons prefix">person</i>
						<input id="name" type="text" name="name" class="validate">
			          	<label for="name">Your Name</label>
			        </div>
			      </div>
			      <div class="row">
			        <div class="input-field col s12">
			        	<i class="material-icons prefix">email</i>
						<input id="email" type="email" name="email" class="validate">
			          	<label for="email">Email</label>
			        </div>
			      </div>
			      <div class="row">
			        <div class="input-field col s12">
			        	<i class="material-icons prefix">call</i>
						<input id="contact" type="text" name="contact" class="validate">
			          	<label for="contact">Contact Number</label>
			        </div>
			      </div>
			      <div class="row">
			        <div class="input-field col s12">
			        	<i class="material-icons prefix">school</i>
						<input id="college" type="text" name="college" class="validate">
			          	<label for="college">College Name</label>
			        </div>
			      </div>
			      <div class="row">
			        <div class="input-field col s12">
			        	<i class="material-icons prefix">lock</i>
						<input id="password_1" type="password" name="password_1" class="validate">
			         	 <label for="password_!">Password</label>
			        </div>
			      </div>
			      <div class="row">
			        <div class="input-field col s12">
			        	<i class="material-icons prefix">lock</i>
						<input id="password_2" type="password" name="password_2" class="validate">
			          	<label for="password_2">Confirm Password</label>
			        </div>
			      </div>
			      <div class="row">
			        <div class="input-field col s12 center-align">
						<input id="reg-submit" type="submit" value="register">
			        </div>
			      </div>
			    </form>
		</div>
</div>
<div class="clearfix"></div>
{% endblock %}