{% extends 'partials/base.html' %}
{% load static %}
{% block content %}
<div id="rules_wrapper">
	<div class="container">
		<div class="rules-text">
			<h4>Rules</h4>
			<ul>
				<li><i class="material-icons tiny prefix">label</i> It is an online event.</li>
				<li><i class="material-icons tiny prefix">label</i> Candidates are required to register for this event in their own name and not an alias.</li>
				<li><i class="material-icons tiny prefix">label</i> Every day 10 questions will be given to each contestant and he/she has to answer the question with relevent keywords.</li>
				<li><i class="material-icons tiny prefix">label</i> The timer for each question starts when you open it for the first time.</li>
				<li><i class="material-icons tiny prefix">label</i> For each question a participant can score a maximum of 100 points out of which 0-75 will be given on the basis of your answer and 0-25 will be given on the basis of time you have taken to google.</li>
				<li><i class="material-icons tiny prefix">label</i> Leaderboard will be updated at the end of every day. </li>
				<li><i class="material-icons tiny prefix">label</i> In case of any discrepancy, the decision made by the event coordinators will be final.</li>
				<li><i class="material-icons tiny prefix">label</i>  You can submit your response only once and whether your answer is correct or not, you can go to next question.</li>
			</ul>
		</div>
		<div class="rules-panel">
		</div>
		<div class="clearfix"></div>
	</div>
	<div class="comic_img">
	</div>
</div>
{% endblock %}
