{% extends 'partials/base.html' %}
{% load static %}
{% block content %}
<div id="rules_wrapper">
	<div class="">
		<div class="rules-text">
			<h5>Rules</h5>
			<ul>
				<li><i class="material-icons tiny prefix">label</i> It is an online event.</li>
				<li><i class="material-icons tiny prefix">label</i> Candidates are required to register for this event in their own name and not an alias.</li>
				<li><i class="material-icons tiny prefix">label</i> Every day 10 questions will be given to each contestant and he has to answer the question in one word or one sentence.</li>
				<li><i class="material-icons tiny prefix">label</i> Leaderboard will be updated at the end of every day. </li>
				<li><i class="material-icons tiny prefix">label</i> In case of any discrepancy, the decision made by the event coordinators will be final.</li>
			</ul>
		</div>
		<div class="rules-panel">
		</div>
		<div class="clearfix"></div>
	</div>
	<div class="comic_img">
		<img src="{% static 'images/rule_man.jpg' %}" class="responsive-img">
	</div>
</div>
{% endblock %}
