h1,h2,h3,h4,h5,h6,a,p,span,li,label,input{
	font-family: 'Noto Serif', serif;
}

/*------------------------------Nav Bar-----------------------------------------*/
.brand-logo{
	font-family:roboto;
	font-weight:100;
	padding-left:15px !important;
}
nav{
	background-color:#263238;
	color:#5A6D76;
}

/*-----------------------------------Index Page----------------------------------*/
#main_wrapper{
	background:linear-gradient(
      rgba(0, 0, 0, 0.6), 
      rgba(0, 0, 0, 0.6)
    ),url("../images/about.jpg") no-repeat center;
	background-size:cover;
	position:relative;
	width:100%;
	height:100%;
	min-height:700px;
}
.detailed-text{
	padding:20px;
}
.detailed-text p{
	color:#fff;
	font-size:18px;
	text-align: justify;
}
.login-btns{
	padding:20px;
}
.login-btns a{
	width:180px;
	margin-top:10px;
}


/*--------------------------------Register & login Page------------------------------------*/
.reg-wrapper{
	background:linear-gradient(
      rgba(0, 0, 0, 0.7), 
      rgba(0, 0, 0, 0.7)
    ),url("../images/google.jpg");
	background-size:cover;
	width:auto;
	width:100%;
	height:100%;
	min-height:700px;
}
.reg-wrapper h4{
	margin-top:0;
}
.reg-wrapper img{
	width:100%;
}
.reg-form{
	background-color:rgba(255,255,255,0.7);
	max-width:700px;
}
.reg-form label{
	color:#000;
	opacity:0.7;
}
#registration-form .row{
	margin-bottom:0;
}
#reg-submit {
	background-color:#000;
	color:#fff;
	border:0;
	padding:5px 15px;
	margin-bottom:20px;
	box-shadow: inset 0 0 0 0 #000;
	transition: all ease 0.6s;
	-webkit-transition: all ease 0.6s;
		-moz-transition: all ease 0.6s;
}
#reg-submit:hover{
  	box-shadow: inset 200px 0 0 0 #009966;
  }
#log-submit{
	background-color:#000;
	border:0;
	color:#fff;
	padding:5px 15px;
	margin-bottom:20px;
	box-shadow: inset 0 0 0 0 #000;
	transition: all ease 0.4s;
	-webkit-transition: all ease 0.6s;
		-moz-transition: all ease 0.6s;
}
#log-submit:hover{
  	box-shadow: inset 200px 0 0 0 #009966;
  }
#error-msg{
	color:red;
}
#confirmMessage{
	margin-left:20%;
}
/*----------------Register Page---------------*/


/*----------------------------------LeaderBoard--------------------------------------*/
#leaderboard-wrapper{
	height:100vh;
	background: url("../images/maniac.jpg");
	background-size:cover;
}
#leaderboard-wrapper h4{
	background-color:rgba(255,255,255,0.7);
	margin-top:0;
	margin-bottom:0;
	padding:10px;
}

#leaderboard-header{
	border:0;
}
.collection{
	margin-top:0;
}
.collection .collection-item.avatar{
	background-color:rgba(255,255,255,0.7);
	min-height:30px;
	height:50px;
}
#leaderboard-header p{
	font-weight: bold;
}

/*----------------------------------Questions------------------------------------------*/
#question_wrapper{
	position:relative;
	width:100%;
	height:100%;
}
.question-text{
	max-width:900px;
	padding:20px;
	text-align:justify;
}
.question-text p{
	font-size:16px;
}
.answer-panel{
	padding:10px;
}
#ans-submit{
	background-color:#000;
	color:#fff;
	border:0;
	padding:5px 15px;
	box-shadow: inset 0 0 0 0 #000;
	transition: all ease 0.4s;
	-webkit-transition: all ease 0.6s;
		-moz-transition: all ease 0.6s;
}
#ans-submit:hover{
  	box-shadow: inset 200px 0 0 0 #009966;
}
.answer-panel h5{
	padding-left:10px;
}
@media screen and (min-width:480px){
	.comic_img{
	position:absolute;
	right:0;
	top:80px;
	}
}
#q-complete-msg{
	font-size:20px;
}
.cont-wrapper{
	position: relative;
	min-height:700px;
	overflow-y:hidden;
}
#res-record{
	position:absolute;
	width:500px;
	height:200px;
	top:30%;
	left:50%;
	margin-top:-100px;
	margin-left:-250px;
}
#bot-img img{
	padding-top:20px;
	width:500px;
}
@media screen and (max-width:480px){
	#res-record{
	width:300px;
	height:200px;
	top:30%;
	left:50%;
	margin-top:-100px;
	margin-left:-150px;
	}
	#bot-img img{
	width:300px;
	}
}
.continue-btn{
	width:200px;
	margin-top: 10px;
}


/*----------------------------------Rules------------------------------------------*/
#rules_wrapper{
	background:linear-gradient(
      rgba(0, 0, 0, 0.7), 
      rgba(0, 0, 0, 0.7)
    ),url("../images/batman.jpg") no-repeat center;
	background-size:cover;
	position:relative;
	width:100%;
	height:100%;
	min-height:700px;
}
.rules-text{
	padding:20px;
	text-align:justify;
}
.rules-text h4{
	color: #fff;
	font-weight:bold;
}
.rules-text li{
	color: #fff;
	font-size:18px;
}
.rules-panel{
	padding:20px;
}





