/*------------------------------Nav Bar-----------------------------------------*/
.brand-logo{
	padding-left:15px !important;
}
nav{
	background-color:#263238;
	color:#5A6D76;
}
.nav-wrapper{
}



/*-----------------------------------Index Page----------------------------------*/
#main_wrapper{
	position:relative;
	width:100%;
	height:100%;
}
.detailed-text{
	max-width:700px;
	padding:20px;
}
.login-btns{
	padding:20px;
}
.spark_plug{
	position:absolute;
	right:0;
	bottom:0;
}

/*--------------------------------Register Page------------------------------------*/
.reg-wrapper{
	position: relative;
	width:100%;
	height:100%;
}
.reg-wrapper img{
	width:100%;
	height:100%;
}
.reg-form{
	background-color:rgba(255,255,255,0.7);
	position:absolute;
	top:0;
	left:50%;
	width:500px;
	margin-left:-250px;
}
.reg-form label{
	color:#000;
	opacity:0.7;
}
/*----------------Register Page---------------*/


/*----------------------------------LeaderBoard--------------------------------------*/
#leaderboard-header{
	border:0;
}
.collection .collection-item.avatar{
	min-height:30px;
	height:50px;
}
#leaderboard-header p{
	font-weight: bold;
}

/*----------------------------------Questions------------------------------------------*/
#question_wrapper{
	position:relative;
	width:100%;
	height:100%;
}
.question-text{
	max-width:700px;
	padding:20px;
}
.answer-panel{
	padding:20px;
}
.comic_img{
	position:absolute;
	right:0;
	bottom:0;
}

/*----------------------------------About------------------------------------------*/
#about_wrapper{
	position:relative;
	width:100%;
	height:100%;
}
.about-text{
	max-width:700px;
	padding:20px;
}
.about-panel{
	padding:20px;
}

/*----------------------------------Rules------------------------------------------*/
#rules_wrapper{
	position:relative;
	width:100%;
	height:100%;
}
.rules-text{
	max-width:700px;
	padding:20px;
}
.rules-panel{
	padding:20px;
}





